# SPDX-FileCopyrightText: 2025 Gaby Roch
# SPDX-License-Identifier: CC0-1.0
default_install_hook_types:
  - pre-commit
default_stages:
  - pre-commit
  - pre-merge-commit
  - pre-push
  - manual
repos:
  - repo: https://codeberg.org/fsfe/reuse-tool
    rev: v6.2.0
    hooks:
      - id: reuse
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: check-illegal-windows-names
      - id: check-symlinks
      - id: check-vcs-permalinks
      - id: check-json
      - id: check-toml
      - id: check-xml
      - id: check-yaml
      - id: destroyed-symlinks
      - id: detect-private-key
      - id: fix-byte-order-marker
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.12.0
    hooks:
      - id: commitizen
      - id: commitizen-branch
        args: ["--rev-range", "$PRE_COMMIT_FROM_REF..$PRE_COMMIT_TO_REF"]
        stages:
          - pre-push
