# SPDX-FileCopyrightText: 2026 Gaby Roch
# SPDX-License-Identifier: GPL-3.0-or-later
---
name: pre-commit check
on:
  pull_request:
  push:
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v3
      - uses: pre-commit/action@v3.0.1
